<section class="container">
  <input type="text" [(ngModel)]="user" />
  <section class="list">
    <ng-container *ngFor="let message of messages">
      <div
        class="item"
        [class.left]="!message.self"
        [class.right]="message.self"
      >
        <div [class.left]="!message.self" [class.right]="message.self">
          <span *ngIf="!message.self">{{ message.name }}:</span>
          {{ message.text }}
        </div>
      </div>
    </ng-container>
  </section>
  <textarea
    class="message-box"
    [(ngModel)]="model"
    (keydown)="handleKey($event)"
  ></textarea>
  <button (click)="sendMessage()">Send</button>
</section>
